body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
  }
  
  #summary-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
  }
  
  #summary-list {
    list-style-type: none;
    padding: 0;
  }
  
  #summary-list li {
    margin-bottom: 5px;
  }

  #transactions-container {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  #transactions-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #transactions-table th,
  #transactions-table td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  #transactions-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
  }
  
  #transactions-table td {
    text-align: center;
  }
 

 /* Dark theme */
html {
    background-color: #0e0e10 !important;
    color-scheme: dark !important;
}

html, body {
    background-color: #0e0e10;
    border-color: #8b8146;
    color: #dcd7ba;
}
a {
    color: #3391ff;
}
table {
    border-color: #53535f;
}
::placeholder {
    color: #c0b682;
}

/* Modified CSS */
#summary-container {
    border-color: rgb(62, 62, 71);
}
#transactions-container {
    border-color: rgb(62, 62, 71);
}
#transactions-table th,
#transactions-table td {
    border-color: rgb(62, 62, 71);
}
#transactions-table th {
    background-color: rgb(22, 22, 25);
}

